
<div>
  <%= gravatar_for(@user)%>
  <%= @user.name %>
  <% case @user_relation %>
  <% when 'current_user'%>
    chat list
  <% when 'friend'%>
      <div>
        <%# 一対一トーク%>
        <% talk_room = TalkRoom.find_by(id: current_user) %>
        <% if talk_room.any? %>
          <%= link_to "Go to Talk Room!", talk_room_path(talk_room_id)%>
        <% else %>
          <%= talk_room = TalkRoom.create(user_id: @user.id) %>
          <%= talk_room.invite(current_user) %>
        <% end %>
      </div>
      <div>
        <%# グループトーク %>
      </div>
  <% when 'non_friend' %>
    <div class="list_contents">
      <%= link_to 'Send Friend Request', friendrequest_user_path(@user) ,method: :post,
          class: 'button primary large' %>
    </div>
  <% when 'already_request' %>
    <% flash.now[:success] = "You still send friend request. Please wait to accept" %>
  <% when 'received_request'%>
    <% flash.now[:success] = "You received friendrequest from this user.If you accepet, click follow button" %>
    <div class="list_contents">
    <%= link_to 'Accept friend request', friendrequest_user_path(current_user) , method: :post,
      class: 'button success large' %>
  <% end %>
</div>