
<div>
  <%= gravatar_for(@user)%>
  <%= @user.name %>
  <% if current_user?(@user) %>
      chat list
  <% else %>
    <% if friend? %>
      <div>
        <%# 一対一トーク%>
        <% talk_room = TalkRoom.find_by(id: current_user) %>
        <% if talk_room.any? %>
          <%= link_to "Go to Talk Room!", talk_room_path(talk_room_id)%>
        <% else %>
          <%= talk_room = TalkRoom.create(user_id: @user.id) %>
          <%= talk_room.invite(current_user) %>
        <% end %>
      </div>
      <div>
        <%# グループトーク %>
      </div>
    <% else %>
      <%# if already send request? %>
        <%#<div class="button success">
          Already sent friend request
        </div>%>
      <%# else %>
        <div style="margin: 1rem">
            <%= link_to 'Send Friend Request', friendrequest_user_path(@user) ,method: :post,
            class: 'button primary large' %>
        </div>
      <%# end %>
    <% end %>
  <% end %>
</div>