<div>
  <% if current_user?(@user) %>
      chat list
  <% else %>
      <div style="margin: 1rem">
          <%= link_to 'Send Friend Request', friendrequest_user_path(current_user) , method: :post,
           class: 'button primary large' %>
      </div>
      <div>
        <%= @user_to.name%>
        <%= @user_from.name%>
        <%= current_user.name%>
        <%= params[:id] %>
      </div>
  <% end %>
</div>