    <header>
      <div class="top-bar" >
          <%= link_to "Chat like LINE", root_path, id: 'logo' %>
        <nav>
          <div class="top-bar-right">
          <ul class="menu align-right">
            <li><%= link_to "Help", '#' %></li>
            <% if logged_in? %>
              <ul class="dropdown menu" data-dropdown-menu>
                <li><a href="#">Account</a>
                  <ul class="menu">
                    <li><%= link_to "Profile", current_user %></li>
                    <li><%= link_to "Friends", '#' %>
                      <ul class="menu">
                        <li><%= link_to "Friend Request", friendrequest_user_path(current_user) %></li>
                        <li><%= link_to "Friend List" ,friendlist_user_path(current_user) %></li>
                        <li><%= link_to "Friend Serch" ,search_users_path %></li>
                      </ul>
                    </li>
                    <li><%= link_to "Settings", '#' %></li>
                    <li>
                      <%= link_to "Log out", logout_path, method: :delete %>
                    </li>
                  </ul>
                </li>
              </ul>
            <% else %>
              <%= link_to "log in", login_path %>
            <% end %>
          </ul>
          </div>
        </nav>
      </div>
    </header>